<template>
    <member-view
        :form-data="formData"
    />
</template>

<script>
import MemberView from "../../member/MemberView";

export default {
    name: "member-view-page",
    components: {MemberView},
    data() {
        return {
            formData: {},
        }
    },
    async mounted() {
        await this.getMember();
    },
    methods: {
        getMember() {
            const t = this;
            t.sending = true;

            const id = this.$route.params.id;

            axios.get(`/api/v1/member/${id}`, this.form, {
                headers: {
                    'Content-type': 'application/json; charset=UTF-8'
                }
            }).then(response => {
                this.formData = response.data;
            }).catch(error => {
                console.log(error);
            });
        },

    }
}
</script>

<style scoped>

</style>
