<template>
    <div>
        <md-menu md-direction="bottom-start">
            <md-button href="/">Home</md-button>
            <md-button href="/member/create">Create Member</md-button>
        </md-menu>
    </div>
</template>

<style>
.md-menu {
    margin: 24px;
}

</style>

<script>
    export default{
        name: 'navbar'
    }
</script>
